body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}



.first-section{
  background-color: rgb(31, 37, 53);
  padding: 20px 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

 nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav .burger-menu{
  width: 20px;
}

.main-text{
  color: white;
  display: flex;
  flex-direction: column;
  padding-right: 60%;
  margin: 10% 0;
}
.main-text h1{
  font-size: 70px;
  margin: 0;
}

.main-text p{
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  padding-right: 30%;
}

.main-button{
  background-color: #ffffff;
  padding: 20px;
  width: 22%;
  border-radius: 3px;
  text-decoration: none;
  margin-top: 15%;
  color: rgb(31, 37, 53);
  font-weight: bold;
  text-align: center;
}

.second-section{
  margin: 40px 70px;
  padding: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.second-section article{
  padding: 0 40px;
}


.second-section img{
  width: 120px;
}

.second-section h3{
  letter-spacing: 1.8px;
  color: rgb(31, 37, 53);
}

.second-section p{
  color: #5f5e5e;
  font-weight: 200;
}