.container {
  width: 90%;
  margin: 0 auto;
}

.jumbotron {
  background-color: #282c34;
  color: white;
}

.jumbotron-nav {
  display: flex;
  justify-content: space-between;
  width: 100;
  padding: 3vh 0;
}

.jumbotron h1 {
  font-size: 6em;
  width: 40%;
  text-align: start;
  margin: 6vh 0 0 0;
}

.jumbotron p {
  width: 20%;
  font-size: 1.2em;
}

.jumbotron button {
  background-color: white;
  border: none;
  margin: 50px 0;
  border-radius: 3px;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
}