.App {
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:rgb(32,37,52);
  margin:auto;
  min-height: 700px;
  max-width: 1022px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}
nav img{
  margin-left:10%;
}
#menu{
  margin-right:5%;
}

.App-link {
  color: #61dafb;
}
.flex-container{
  padding-top:15vh;
  display:flex;
  flex-direction:row;
  max-width:980px;
  justify-content: center;
  margin:auto;
  
}
button{
  background-color:white;
  width:150px;
  font-size: 1.4rem;
  margin-left:10%;
  height:60px;
  border-radius: 7px;
  font-weight: 900;
  color: rgb(35,40,54);
  
}
h1{
  font-size: 70px;
  width:380px;
  margin-top: 6%;
  margin-left: 10%;
  margin-bottom:-10px;
  line-height:65px;
}
p{
  font-size: 25px;
  margin-left: 10%;
  width:270px;
  color: grey;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  max-width: 20%;
  display: flex;
  flex-direction: column;
  margin-right:50px;
  align-items: center;
}