
.card{
 display:flex;
 flex-direction: column;
 justify-content: space-around;
 align-items:center;
 width: 20%;
}


h3{
font: black;
font-weight: 600;
font-size: 25px;
}

.card img{
 width: 150px;
}


p{
 font-size: 18px
}

.textWrap{

}