.jumbotron {
  background-color: rgb(5, 5, 41);
  color: white;
  padding: 15px 40px 60px 40px;
}

.mainContent {
  width: 300px;
  padding: 10px;
}

.mainText{
 color: white;
 font-weight: 30px;


}


.secondaryText{

}