* {
  color: black;
}

.container {
  background-color: rgb(32, 37, 53);
  position: relative;
  padding: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;

}

.burger {
  width: 20px;
  border: solid 2px whitesmoke;
  margin-bottom: 5px;
}

.burger2 {
  width: 12px;
  border: solid 2px whitesmoke;
}

.button {
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  border-radius: 3px;
  padding: 20px;
  margin-top: 40px;
}

h1 {
  font-size: 4em;
  margin-bottom: 0;
  color: whitesmoke;
}



.main-section {
  width: 30%;
}

.subtitle {
  width: 65%;
  color: whitesmoke;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 200px; 
  padding: 40px;
}

article {
  margin-right: 20px;
}

article img {
  width: 90px;
  height: 90px;
}



/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




