nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
    padding: 10px;
    background-color: Black;
  }
  .FirstComponent{
    text-align: center;
    background-color: Black;
    height: 750px;
  }
  .menu{
      color: white;
      text-align: left;
      margin-left: 4%;
  }