.container {
  font-family: Arial, Helvetica, sans-serif;
  background: #172d44;
  color: white;
  padding: 5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  margin-top: 10%;
}

.titles {
  width: 50%;
}

.titles h1 {
  font-size: 6rem;
  font-weight: bolder;
  margin: 0;
}

.titles p {
  font-size: 3rem;
  margin: 0;
  font-weight: lighter;
}

.react-logo {
  width: 50%;
}

.content input {
  border: 1px solid transparent;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
  font-weight: bolder;
  color: #172d44;
  background-color: white;
  margin-top: 10%;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin: 100px auto;
  width: 80%;
}

.card {
  width: 20%;
}
